/***********
Responsive css
***********/



/*******
Mobile devices
******/

@media (max-width:480px)
{
   .main-menu img {
    max-width: 200px;
}
  
    
}

/*******
 iPads, Tablets devices
******/

@media (max-width:768px)
{
       .main-menu img {
    max-width: 200px;
}
    
}



/*============
990 px max 
===========*/
@media (max-width:990px)
{
    
    .header-top{
        display: none !important
    }
       .main-menu img {
    max-width: 200px;
}
    .top-address{
        visibility: hidden;
    }
    
}
    
}



/*******
Small screens, laptops
******/

@media (max-width:1024px)
{
       .main-menu img {
    max-width: 200px;
}
    .infobox h4 {
    font-size: 22px;
    padding-top: 20px;
}
.infobox p {
    font-size: 14px;
    padding-right: 10px
}

    
}

