/*==========
common css
=========*/

/*
font-family: 'Poppins', sans-serif;
*/


* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    /* i use just a font for this website    */
}

ul {
    margin: 0
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff
}

img {
    max-width: 100%;
    max-height: 100%
}

/*==============
header css
==============*/
.header-top {
    background-color: #10245a;
    font-size: 12px;
    padding: 10px 0;
}

.social-ul li:not(:first-child) {
    border-left: 1px solid black;
}

.social-a {
    color: #55555a;
    padding: 12px;
    font-size: 16px
}

.social-li:hover,
.social-li:hover a i {
    color: #fff;
}

.social-li:hover {
    transform: scale(1.1);
}

.social-li:nth-child(1):hover {
    background-color: #3B5998;
}

.social-li:nth-child(1):hover a i {
    color: #fff;
}

.social-li:nth-child(2):hover {
    background-color: #0077B5;
}

.social-li:nth-child(2):hover a i {
    color: #fff;
}

.social-li:nth-child(3):hover {
    background-color: #FF0000;
}

.social-li:nth-child(3):hover a i {
    color: #fff;
}

.social-li:nth-child(4):hover {
    background-color: #E1306C;
}

.social-li:nth-child(4):hover a i {
    color: #fff;
}

.top-contact-ul,
top-contact-ul li a {
    color: #fff;
}

.top-contact-li {
    padding-left: 25px;
}

.top-contact-li a:hover {
    color: #fff;
    cursor: text
}

/***********
header bottom / nav bar css 
***********/
.header-bottom {
    background-color: #fff;
    border-bottom: solid 1px #ff7104
}


/*js functional class for sticky head */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*******/

.main-menu img {
    max-width: 75%;
}

.main-menu ul li a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #10245a
}

.main-menu .active {
    color: #ff7104 !important
}

.main-menu ul li a:active {
    color: #ff7104
}

.main-menu ul li a:hover {
    color: #555 !important
}

/* dropdown menu js css */
.dropdown:hover .dropdown-menu {
    display: block;
}
/******/

.dropdown:hover .dropdown-menu li a:hover
{
    color: #ff7104 !important
}



.main-menu .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid #ff7104;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}



